.build/
.DS_Store
*.profraw
.swiftpm/
!.swiftpm/
!.swiftpm/xcode/
.swiftpm/xcode/package.xcworkspace/
!.swiftpm/xcode/xcshareddata/
!.swiftpm/xcode/xcshareddata/xcschemes/
!.swiftpm/xcode/xcshareddata/xcschemes/BubblyBackend.xcscheme
xcuserdata/
*.xcuserstate
.env
.env.*
!.env.example
*firebase-adminsdk*.json
